[2014-12-31 12:31] davethecipo opened #1 "Application crashes when a course has squared brackets in its name"
Consider the following course name

[code]

common.py will crash on line 124 when creating the variable `upper` which is the course name, stripped from the first and last squared brackets.

[2014-12-31 12:37] davethecipo opened #2 "Application shouldn't stop when the creation of the default couse directory name fails"
This is related to bug #1.

If common.py can't create the UpperCase default directory name for the course, the exception should be caught and dealt with. What happens now is that the "sync courses" functionality stops when the error mentioned in bug #1 happens.

[2015-01-01 15:55] davethecipo opened #4 "Code errors from landscape.io"
Landscape.io count 35 errors
https://landscape.io/github/davethecipo/polibeepsync/

Fix them!

[2015-01-01 17:08] #4 closed, assigned to davethecipo

[2015-01-01 18:27] davethecipo opened #5 "Better logging of exceptions"

[2015-01-02 09:57] davethecipo commented on #5
For the moment, 5de1251b16457e6a8037c4dda199e1fdc2c4675f should suffice.

[2015-01-02 09:57] #5 closed, assigned to nobody

[2015-01-02 10:14] davethecipo opened #6 "Better command line options with argparse"
Wanted options for the moment:
--hidden: don't show GUI window, just the icon in the systray
--debug DEBUG_LEVEL: choose debug level

[2015-01-02 10:29] davethecipo opened #7 "Show download percentage for every course"
At the moment, there's no clear indication of the download happening. I should put a column of progress bars in the "Courses" tab

[2015-01-02 10:35] davethecipo opened #8 "cli program"
A command line interface would be great for Raspberry Pi and low power devices
1. PySide would no longer be a dependency
2. It would work in background

In order to achieve this, there should be a refactor involving
- threads: at the moment I use QThread; it should be converted to a python-only thread
- settings/data save/load: at the moment loading and saving both settings and data is written in

[2015-01-02 10:42] davethecipo opened #9 "Discard html tags not containing "canonical" courses"
I define a "canonical" course as one which provides folders and files to be downloaded.

What happens now is that en exception is thrown (and logged as DEBUG_LEVEL = error) when the function Course.simplify_name() fails.

Proposed procedure:
1. check if the complete course name is a sequence of [ YEAR-YY ] - TEXT [optional squared brackets] other optional stuff [ closing brackets ]
2. if yes, stri

[2015-01-02 10:43] #1 closed, assigned to davethecipo

[2015-01-02 10:44] #2 closed, assigned to davethecipo

[2015-01-02 12:31] #6 closed, assigned to davethecipo

[2015-01-03 10:40] #9 closed, assigned to davethecipo

[2015-01-03 16:23] davethecipo opened #10 "User can insert a zero-length string for the save folder name"
This is a problem because it screws up the download

[2015-01-03 16:33] #10 closed, assigned to davethecipo

[2015-01-06 13:21] davethecipo opened #11 "I forgot to add pyparsing to requirements"

[2015-01-06 13:33] davethecipo opened #12 "KeyError raised"
With version 0.2.2
![10887730_10205640818481217_2016485938_n](https://cloud.githubusercontent.com/assets/1153288/5629178/fff71148-95b0-11e4-91ae-c1805b5405c4.jpg)

[2015-01-06 14:16] #11 closed, assigned to davethecipo

[2015-01-06 14:35] #12 closed, assigned to nobody

[2015-01-06 15:17] davethecipo opened #13 "Allow user to use single/double click for the systray icon"
A proposal:
- single click: open contextual menu
- double click: re-open GUI window

[2015-01-06 15:22] davethecipo opened #14 ""Check for updates" button"
This would make the update process easier.

Some considerations:
- using pickle for storing data is [not the best](https://wiki.python.org/moin/UsingPickle/RenamingModules)
- password shouldn't be in clear text, at least for discouraging script kiddies

Useful links:
- https://pypi.python.org/pypi/esky
- http://stackoverflow.com/questions/12758088/installer-and-updater-for-a-python-desktop-applica

[2015-01-06 15:30] davethecipo opened #15 "Don't start an instance of the program if another one is already running"
Possible approaches:

http://stackoverflow.com/questions/380870/python-single-instance-of-program

http://stackoverflow.com/questions/220525/ensuring-a-single-instance-of-an-application-in-linux

[2015-01-06 15:31] davethecipo opened #16 "Add "sync now" button to "Courses" tab"

[2015-01-06 16:09] davethecipo opened #17 "Add "about" tab instead of button"
It should contain
1. email for communicating bugs/features requests etc
2. some information about the author

[2015-01-09 11:13] davethecipo opened #18 "Size hint for download % column"

[2015-01-10 18:06] davethecipo opened #20 "Show Timeout and other exceptions in the Status tab"

[2015-01-12 13:13] #7 closed, assigned to davethecipo

[2015-01-12 16:36] #16 closed, assigned to nobody

[2015-01-12 16:36] #17 closed, assigned to davethecipo

[2015-01-12 16:37] #14 closed, assigned to nobody

[2015-01-12 16:58] #13 closed, assigned to davethecipo

[2015-01-12 17:33] #18 closed, assigned to davethecipo

[2015-01-17 14:01] davethecipo opened #21 "Handle interrupted downloads"
In particular:
- interrupted file downloads result in corrupted files (brutal approach: delete them and re-download from the start, bad for big files; smarter approach: resume downloads from the last chunk like wget)
- re-download list of files for the course/list of courses

The main issue here is that the main thread can't catch the exceptions raised in other threads, thus I need to communicate

[2015-01-17 14:08] davethecipo opened #22 "Refactor the timer from QTimer to a general solution (both GUI and CLI)"
Remember to avoid running a thread worker if another one is already doing the same exact job (i.e syncing files)

[2015-01-17 14:09] davethecipo opened #23 "Investigate if python events can replace signalslot"

[2015-01-17 14:16] davethecipo opened #24 "Look into multi-threaded downloads"
Ideally, each course needing to download files is added to a Queue; a number of threads (how many? I have no idea) would consume the queue.

Possible pitfalls:
- with long-running tasks, the session may expire. The session would probably be updated by one thread safely by using RLocks.
- the website may be bitchy about too many connections at a time

[2015-01-17 14:17] davethecipo opened #25 "Move threads code to functions that can be easily tested synchronously"

[2015-01-17 14:22] davethecipo opened #26 "Write mocking responses for unit tests"
This is vital to simulate the various outcomes of downloads, which can fail without too many compliments.

[2015-01-17 14:24] davethecipo opened #27 "Communicate information to a dedicated column in the courses view"
Detailed information for errors would still be displayed in the status tab

[2015-01-17 14:37] davethecipo opened #28 "Easy installer for Windows/Linux?"
The previous experiments with py2exe/py2app/cx_Freeze failed, I could retry though.

A difficult installation process cuts out most of the intended audience.

[2015-01-17 14:41] davethecipo opened #29 "Retry downloads automatically a number of times before giving up"
At the moment, when a timeout error happens, the programs just stops. It's clearly possible to work around this problem. I don't know if this would make sense for a connection error.

A nice way to signal these errors to the user without being intrusive would be changing the icon like Dropbox does.

[2015-01-31 08:43] davethecipo commented on #28
The problem was that cacert.pem was missing. Solved (for Windows) with 9b4b263abe1c720d58773af9f34cf3d25c9a01e1.

The remaining problem is self-updating, which can be accomplished via Esky.

[2015-01-31 20:44] davethecipo commented on #28
At the moment there's a bug in esky which requires a workaround:

1) use python 3.3
2) manually copy cacert.pem to the main output folder

For linux, using esky/cx_freeze is not a viable option because of glibc. It's better to opensuse build service to build the package in the specific format required by the distribution.

[2015-03-23 17:39] davethecipo opened #30 "The order of downloads is random"
The order followed for downloads is different from what is presented, therefore introducing confusion. It would be nice to reorder the courses list such that they are ordered by "added date" (I could do this with a new column).

[2015-03-23 17:47] davethecipo opened #31 "The tabbing order is utterly wrong"
Expected behavior on first run:

username text field selected

after pressing tab: password field selected

[2015-03-23 18:21] davethecipo opened #32 "Apparently random segfaults"
Considering that I'm using python, the issue is surely related to multithreading.

There're two possibilities:
1. A download thread directly manipulates variables of the GUI
2. Two download threads interfere with each other

At the moment, only one download thread is started at a time, therefore making the first hypothesis the strongest.

[2015-06-22 07:24] davethecipo opened #33 "Doesn't proceed with login if password update notification pops up"
The password change policy of Polimi creates a page after the "submit" of login information, which states the need to update the password. In that page, an option to continue is given.

[2015-06-27 14:41] davethecipo commented on #24
I don't think that increasing the number of threads would have any impact on performance, after all the download time should be limited by the network bandwidth.

I started looking at threads because I didn't want to lock the GUI when a download is happening.

My lack of knowledge with threads is surely causing #32, therefore it would be better to completely avoid them or, if strictly necessary, i

[2015-07-07 08:17] davethecipo opened #34 "The folder should be a property of each course"
At this stage, there's one folder under which every course is stored. This imposes an unnecessary restriction.

The default root folder should remain, but the user should be able to move/rename the course folder. If the program gives an option to the user, there's no need to re-download everything because the program internally knows what has happened.

I should also decide a better strategy for m

[2016-06-27 10:46] davethecipo opened #35 "Not all courses are synced"
Related to differences in the web pages, requires better scraping

[2016-06-28 08:14] davethecipo opened #36 "The GUI doesn't make sense"
see http://dilbert.com/strip/2002-09-23

[2018-12-23 15:41] davethecipo opened #38 "I found the cli script that uses the BeeP API"
Hello @Jacotsu,
I have good news, I found the code of the CLI script. It was called beepbox. The creator is @poliscript, sadly it doesn't have the repo publicly available (I don't know why: maybe the user removed himself from github?). The folder in my possession doesn't contain the git info either, therefore I'm left with the code only.

If you contact me by email at ubuntupk@gmail.com, I can sen

[2018-12-24 15:40] Jacotsu commented on #38
Thank you!
I've read the code of beep-downloader and I've decided to start implementing the beep api ASAP

[2018-12-24 20:59] edomora97 commented on #38
https://beep.metid.polimi.it/api/jsonws have fun! :stuck_out_tongue_closed_eyes:

[2018-12-26 19:15] #38 closed, assigned to Jacotsu

[2018-12-26 19:17] #31 closed, assigned to nobody

[2018-12-26 19:19] #24 closed, assigned to nobody

[2019-03-18 21:09] #33 closed, assigned to nobody

[2019-03-18 21:32] #25 closed, assigned to nobody

[2019-06-25 14:16] Jacotsu opened #39 "Sometimes the progress bars are not synced"
The progress bar update code should be rewritten, as of now some of them don't update correctly

[2019-07-11 07:38] Jacotsu commented on #28
Solved with PPA and stdeb

[2019-07-11 07:38] #28 closed, assigned to nobody

[2019-07-11 07:40] #32 closed, assigned to nobody

[2019-09-26 16:35] edomora97 opened #40 "JSON Web Services are no longer available"
![image](https://user-images.githubusercontent.com/6685454/65707150-3920b980-e08c-11e9-82f9-1037c907194b.png)

Don't know why, but they disabled them :cry:

https://github.com/Jacotsu/polibeepsync/blob/f8dc76b70277a660748da83c59cb9e103c268185/polibeepsync/common.py#L524-L529

[2019-10-01 14:50] Jacotsu commented on #40
If they don't reenable them soon enough i'm going to fallback to the web scraping method, but it will break again when they'll release the new beep interface

[2019-10-26 17:09] Jacotsu commented on #40
Solved by reinplementing web scraping in Tag 0.5.2

[2019-10-26 17:09] #40 closed, assigned to nobody

[2020-02-28 17:59] Jacotsu opened #41 "Update PPA for ubuntu 20.4"
There isn't a release for ubuntu 20.4 PPA

[2020-02-28 18:00] Jacotsu opened #42 "Missing library from PPA Deb"
The signal slot library is missing from the release deb file.

[2020-02-28 18:01] Jacotsu opened #43 "Avoid directory merge when 2 courses have the same name"
Avoid directory merge when 2 courses have the same name but different teachers

[2020-02-28 18:02] Jacotsu opened #44 "Windows release not storing password"
On some windows 10 systems pbs doesn't store the user password (problem with keyring?)

[2020-03-10 18:03] Jacotsu commented on #43
Fixed by 6a59ac6e2ffb3c5386deeae8999555bb5f47651c

[2020-03-10 18:03] #43 closed, assigned to Jacotsu

[2020-03-22 13:35] alessionossa opened #45 "Missing PyQt5 on macOS (pip installation)"
Trying installing the _polibeepsync_ package through _pip_, **PyQt5** is missing and needs to be installed manually on the system.

[2020-03-22 13:54] alessionossa opened #46 "Distribute on macOS"
It would be great if you create releases and distribute also for macOS, since as [written in docunentation](https://jacotsu.github.io/polibeepsync/build/html/installation.html#direct-installation), the available pip installation is not for simple use.

Thanks for the great work already done! I was searching for an alternative of the disabled Liferay Sync

[2020-03-29 20:19] Eliaxie opened #47 "Startup attributes"
To launch the application on boot and start synchronizing w/o user input.
Also, if it was possible, it would be nice to specify further synchronizations timing with the same line.
(e.g) polibeepsync --synchronize 30

[2020-03-29 20:58] Jacotsu opened #48 "Manage empty xpath attributes"
Sometimes there are course files that don't have attributes like the file version, this should be accounted for and managed gracefully

[2020-03-30 08:02] zarEclEC opened #49 "Text cropped"
![Senzanome](https://user-images.githubusercontent.com/6240983/77889053-849b6680-726d-11ea-888e-d41932cae8fe.png)
The text
"Current version" etc
is cropped in the GUI

[2020-04-01 11:27] #20 closed, assigned to davethecipo

[2020-04-01 12:04] NidasioAlberto opened #50 "SSL: Certificate verify failed"
I'm on Ubuntu 19, the output on the command line shows this:
[code]

[2020-04-01 20:38] Jacotsu commented on #50
Hi, I've already investigated this bug and it seems like a problem generated by a misconfiguration from metid. Basically they didn't include the full chain certificate in the login redirect url.
At the moment i'm waiting a few days to see if metid catches up and fixes it, probably they won't detect it until someone's browser's cache expires.

Anyway, if they don't fix it soon (in a few days) I'm g

[2020-04-09 10:03] NidasioAlberto commented on #50
The app is working again

[2020-04-12 14:43] chiragdkothari opened #51 "It is not downloading anything ...."
i successfully logged in and it retrieved the data of my courses but it isnt downloading anything i tries several times .... i have attached a gif of trying sync now button ..... nothing is being downloaded ... i am i doing something wrong?
![pBS](https://user-images.githubusercontent.com/7547555/79071567-c4863300-7cdc-11ea-827f-9d5d64870b16.gif)

[2020-04-12 23:12] #47 closed, assigned to Jacotsu

[2020-04-12 23:12] #48 closed, assigned to Jacotsu

[2020-04-12 23:12] #49 closed, assigned to Jacotsu

[2020-04-12 23:12] #50 closed, assigned to Jacotsu

[2020-04-12 23:12] #46 closed, assigned to Jacotsu

[2020-04-12 23:19] Jacotsu commented on #45
Please, try again with the new mac os app build and report back

[2020-04-13 00:02] Jacotsu commented on #51
I can't reproduce this on my machine, maybe beep's server where busy when you tried to sync.
Have you tried to reinstall after deleting the internal data (just delete `%appdata%\..\Local\polibeepsync`)?

[2020-04-13 05:33] chiragdkothari commented on #51
Sorry but ... i am still geting the same thing ..... i will try it on another system aznd get back to you thanks ....

[2020-04-13 14:11] alessionossa commented on #45
Installing the 0.7.0 release with pip using `pip3 install --ignore-installed polibeepsync`, solved the issue.

[2020-04-13 14:11] #45 closed, assigned to Jacotsu

[2020-04-13 14:15] alessionossa opened #52 "macOS app not starting due to signing issue"
The macOS app ( https://github.com/Jacotsu/polibeepsync/releases/tag/0.7.0 ) cannot be launched due to code signing issue.

<img width="1057" alt="Schermata 2020-04-13 alle 16 14 22" src="https://user-images.githubusercontent.com/17525117/79127263-ded61480-7da1-11ea-83fb-18108efc86ba.png">

[2020-04-13 20:52] Jacotsu commented on #51
I've managed to reproduce the issue thanks to another bug report.
Basically BeeP's servers are too slow to respond to polibeepsync, so the program assumes that they're offline.

I'll release the next patch in a few days

[2020-04-13 20:59] Jacotsu commented on #52
Sorry, but i can't fix this as i don't own any apple device I can't request an Apple dev id. polibeepsync was tested on a lent device after bypassing gatekeeper.

This article may be helpful https://www.howtogeek.com/205393/gatekeeper-101-why-your-mac-only-allows-apple-approved-software-by-default/

[2020-04-16 07:13] chiragdkothari commented on #51
still getting the same thing ,,,, my internet speed is around 25Mbps ... first i thought the network was causing the problem but i tried with couple of other networks and VPN too... is there any other way to run the code on windows ,,, like using CMD ?

[2020-04-16 21:53] Jacotsu commented on #51
First make sure that you're using Polibeepsync version 0.7.1, if it doesn't work you can use different timeouts settings by following this procedure:
- open a `cmd` or `powershell` terminal
- go to polibeepsync's download folder (version 0.7.1 doesn't require installation)
- type `.\polibeepsync.exe --default-timeout 20 --log-level debug`
The debug info will be printed on the console in the status

[2020-04-17 08:24] chiragdkothari commented on #51
I tried it .... didnt work for 20 but when i made the timeout to 200 i think i recognised that sync is required and tried to do it  but then no files got downloaded ... here is a image for ref ,,,,
![image](https://user-images.githubusercontent.com/7547555/79548340-9b2b2580-8095-11ea-9696-b677ed702e9f.png)

[2020-04-17 20:39] Jacotsu commented on #51
Make sure that you've checked which courses you want to sync

![Screenshot from 2020-04-17 22:36:25](https://user-images.githubusercontent.com/20172693/79612090-45d62f00-80fc-11ea-91bf-cf6723196d77.png)

[2020-04-18 16:13] chiragdkothari commented on #51
yes ... i had marked the courses Machine Design 2 and Measurements for syncing thats why in last section of the status it said syncing these to courses but didnt download the files ...
![image](https://user-images.githubusercontent.com/7547555/79642863-31e40900-81a0-11ea-821d-5a9d42056f11.png)

 is it possible that there is another timeout that is being triggered here?

[2020-04-18 17:39] Jacotsu commented on #51
The timeout is set globally when you specify that option.

Can you send me your data file? it should be located in `%AppData%\..\Local\poliBeePsync\poliBeePsync\pbs.data`.
You can use telegram (@jacotsu) or email dcdrj.pub AT gmail DOT com

[2020-04-18 21:40] Jacotsu commented on #51
I've inspected the data file that you've sent me. You were right, i forgot to override the file download timeout so it was still waiting for 10 seconds instead of your set value.
I've pushed the fix in the master branch and will release the patch in a few days.

PS: If i were You, I would also check your internet connection. response times higher that 10 seconds are not normal (unless you have som

[2020-04-19 18:35] Jacotsu commented on #51
I've released the fixed version, please download it and let me know if you still have problems

[2020-04-19 21:30] chiragdkothari commented on #51
sorry but i am still getting the same thing as before ... i deleted the data file and started fresh with the new update ... i have the latest data file in the mail ....

[2020-04-19 22:25] Jacotsu commented on #51
are you starting the program with `.\polibeepsync.exe --default-timeout 200 --log-level debug` or by double clicking? Because if you double click the default timeout will be 10

[2020-04-20 07:27] chiragdkothari commented on #51
I started using the cmd command .....

[2020-04-29 11:07] #51 closed, assigned to nobody

[2020-05-02 16:33] malta895 opened #53 "Timeout when polimi password is about to expire"
My Polimi password was about to expire, and I couldn't refresh the courses: the software correctly notices me about the password expiring but then it timeouts.
After changing my password everything works, but still I think this is an undesirable behaviour, since Polimi anyways lets the user login until the password is expired.

I use Manjaro Linux (Arch based), polibeepsync is installed from the A

[2020-05-02 16:54] malta895 opened #54 "Only courses with [YY/YY] are being showed"
I noticed this strange behavior: only courses starting with academic year between brackets are being showed.
I know there might be some non-courses in the list like "BeeP channel" or "Mobilità internazionale" which don't start with brackets, but in my case I also have some actual courses without academic year in their name that are not being showed in the list.
Could it be fixed, maybe letting the

[2020-05-02 20:17] Jacotsu commented on #54
Please provide a list of the courses that are not being shown

[2020-05-02 20:29] Jacotsu commented on #53
This seems to be a problem caused by BeeP's slow response times. Another user had problems with timeouts and I've fixed it by implementing a timeout override flag.
Just start PBS with `polibeepsync --default-timeout 30` to set the timeout time to 30s.

Anyway, I'll try to implement a more graceful timeout handling procedure

[2020-05-02 21:46] malta895 commented on #53
By now I can't try it anymore because I changed my password, and with the new and not expiring password the issue is completely gone.

[2020-05-02 22:19] malta895 commented on #54
INFORMATICA FORENSE
DIGITAL SYSTEMS DESIGN METHODOLOGIES [FABRIZIO FERRANDI]
[19-20] Databases 2 [BRAGA]

The latter has brackets but actually it's not shown either (I didn't notice before when making the issue), but it has lowercase letters in the name, while all the shown courses have only uppercase letters in their name, if this can help with the issue.

I also provide the list of non-courses,

[2020-06-13 19:15] Raif9 opened #55 "Add "New" Tab"
A tab with name and position of all the files updated or added in the last sync

[2020-06-13 19:19] Raif9 opened #56 "Option to choose how to save updated files"
A selector to choose if overwrite the file or create a new version when an old file is updated

[2020-06-14 09:21] Jacotsu commented on #55
The console tab already provides the list of updated files

[2020-06-14 09:23] #41 closed, assigned to Jacotsu

[2020-07-15 10:03] alessionossa opened #57 "Download from courses you are not enrolled"
At the moment, there is only the ability to download materials for courses you are current enrolled in. Since other courses are available on BeeP to view, it would be nice if there is the ability to download materials of a specific course you aren't enrolled in.

[2020-09-14 11:23] zarEclEC opened #58 "[Feature Request] Enable maximize button on windows"

[2020-09-15 14:48] Jacotsu commented on #58
It can be easily enabled, but i don't see why it would be useful. As you can see from the screenshots there isn't a big difference between differently sized windows
![image](https://user-images.githubusercontent.com/20172693/93226041-2eff3b80-f773-11ea-9b27-37ff04cef574.png)
![image](https://user-images.githubusercontent.com/20172693/93226070-37577680-f773-11ea-8d28-15c5ebef7898.png)

[2020-09-15 14:50] zarEclEC commented on #58
![immagine](https://user-images.githubusercontent.com/6240983/93226381-869da700-f773-11ea-9c75-e45f565cd4c6.png)
Polibeepsync is on but not seen in this image, because the maximize button is disabled

[2020-09-15 15:12] Jacotsu commented on #58
oh, I see. Windows tiles only maximizable windows

[2020-09-23 08:32] chiragdkothari opened #59 "Regarding Homework Folder"
The app doesn't download content from Homework tab

[2020-09-27 14:22] Jacotsu commented on #59
Still looking into it

[2020-09-28 09:29] rodrprincipe opened #60 "Empty folder for each course"
![image](https://user-images.githubusercontent.com/6618552/94415611-0d904d80-017e-11eb-9f93-10a9a2952d07.png)

I'm running on win10, I've successfully logged and I got each folder for each course but none of those has files inside.
I've also tried installing with pip, but nothing changes.
Can you help me please?

[2020-09-28 14:34] Jacotsu commented on #60
This is related to #59, for some reason polibeepsync is not syncing the course data for new users. I'm looking into it

[2020-09-29 10:58] sanchez-rick-c137 opened #61 "Not opening on macOS 10.13.6"
The app I downloaded from [this page](https://github.com/Jacotsu/polibeepsync/releases/tag/0.7.2) doesn't open at all. Already tried right-click and Open.

[2020-09-29 11:04] sanchez-rick-c137 commented on #61
Running the UNIX executable from the inside I get the following output in the terminal:
[Terminal Saved Output.txt](https://github.com/Jacotsu/polibeepsync/files/5298447/Terminal.Saved.Output.txt)

[2020-09-29 17:09] Jacotsu commented on #61
Mac os support is best effort at the moment, especially on Catalina due to the notarization "feature". Anyway, have you tried installing it through `pip3 install poliBeePsync`? Make sure that you've installed python3, pip and qt5 beforehand.

[2020-10-01 07:40] sanchez-rick-c137 commented on #61
It now fires up, seems to be working, but in the terminal I get these errors:

`Qt WebEngine seems to be initialized from a plugin. Please set Qt::AA_ShareOpenGLContexts using QCoreApplication::setAttribute before constructing QGuiApplication.`

`[ERROR] polibeepsync.qtgui Settings file not found.`

`[ERROR] polibeepsync.qtgui I couldn't find data in the predefined directory. Ignore thismessage if

[2020-10-01 20:06] Jacotsu commented on #61
did the settings remain after restarting the program?

[2020-10-03 07:52] sanchez-rick-c137 commented on #61
Yes, now (it's like the third/fourth time I start the program) I get this output in the terminal

`Qt WebEngine seems to be initialized from a plugin. Please set Qt::AA_ShareOpenGLContexts using QCoreApplication::setAttribute before constructing QGuiApplication.`
`[INFO] polibeepsync.qtgui Data has been loaded successfully.`
`[INFO] polibeepsync.qtgui User code changed to ********`

I guess it's f

[2020-10-03 20:36] Jacotsu commented on #61
nice, if you have more problems with this i'll reopen the issue

[2020-10-03 20:36] #61 closed, assigned to nobody

[2020-10-28 22:45] #58 closed, assigned to Jacotsu

[2020-11-06 22:57] lucio97 opened #62 "Download again alredy downloaded file"
The program redownload every time some files that are alredy inside the beep folder. i think that the old file is overwritten. how can i solve this?
i use win10
thank you so much

[2020-11-08 20:43] Jacotsu commented on #62
Please post the course name, the filenames and the status log

[2020-11-13 11:12] Stefano97 opened #63 "Issue with MacOS BigSur update"
The app never starts in the new operating system and overloads the CPU. If you can solve the issue this would be great since the app is useful

[2020-11-13 15:41] Jacotsu commented on #63
Did you install it through the .dmg file or pip? If you used the dmg file try to reinstall it through pip

[2020-11-13 16:02] Stefano97 commented on #63
I tried in both ways but without results. The app keeps opening and right after saturates the cpu. The GUI never opens.

Let me know if I can give you further details.

Stefano Magni

Il giorno 13 nov 2020, alle ore 16:41, Jacotsu <notifications@github.com> ha scritto:

﻿

Did you install it through the .dmg file or pip? If you used the dmg file try to reinstall it through pip

—
You are receiving

[2020-11-13 16:17] Jacotsu commented on #63
ok, try to start it from the terminal by issuing this command `polibeepsync --log-level debug` and post the resulting log

[2020-11-13 16:21] Stefano97 commented on #63
When I try to run polibeepsync --log-level it returns:

polibeepsync: error: argument --log-level: expected one argument

Can you please clarify the use of the command

Best regards

[2020-11-13 16:22] Jacotsu commented on #63
it's `polibeepsync --log-level debug`
you forgot the `debug` keyword at the end

[2020-11-13 16:32] Stefano97 commented on #63
I beg you pardon. Where do I retrieve the logs ? Do you know which is the default directory?

I went to /var/log and found this:

assessment denied for polibeepsync
com.apple.message.domain: com.apple.security.assessment.outcome2
com.apple.message.signature2: bundle:UNBUNDLED
com.apple.message.signature3: polibeepsync
com.apple.message.signature5: UNKNOWN
com.apple.message.signature4: 1
com.apple.

[2020-11-13 16:45] Jacotsu commented on #63
the logs should appear directly on the terminal. Make sure you're using the pip version

[2020-11-13 16:51] Stefano97 commented on #63
Unfortunately no logs are returned. Once I run the code to debug the python3 app open and the CPU overloads and the terminal says:
[INFO] polibeepsync.qtgui Data has been loaded successfully.

And the instance keeps going until I stop it.

[2020-11-13 16:55] Jacotsu commented on #63
strange, anyway it looks like a problem with the notarization feature. Try to temporarily disable the gatekeeper by following this guide (https://help.apple.com/xcode/mac/10.2/index.html?localePath=en.lproj#/dev9b7736b0e) and try again

[2020-11-13 16:57] Stefano97 commented on #63
Thank you. If you want any help to dig deeper in the issue just ask and will provide the data you need.
You did a great work with the app.

Best regards

S.

[2020-11-13 16:59] Jacotsu commented on #63
did it work? if yes i'll update the mac os installation procedure

[2020-11-13 17:01] Stefano97 commented on #63
No. When I disable the gatekeeper nothing changes

Best Regards,

S.

[2020-11-13 17:12] Jacotsu commented on #63
Do you have brew installed? If no, install it then issue
[code]
make sure that you keep gatekeeper disabled while you debug the app and use the pip version

[2020-11-13 17:18] Stefano97 commented on #63
qt does not have support for Mac OS 11.0 but seems to work anyway. Nothing changes in the debugging procedure.

S.

Il giorno 13 nov 2020, alle ore 18:12,Jacotsu

<notifications@github.com> ha scritto:

﻿

Do you have brew installed? If no, install it then issue

brew uninstall qt5
brew install qt

make sure that you keep gatekeeper disabled while you debug the app and use the pip version

—
You a

[2020-11-13 17:24] Jacotsu commented on #63
Considering that it shows `[INFO] polibeepsync.qtgui Data has been loaded successfully.`, it means that the python code is running, but qt5 is not functioning properly. According to this (https://stackoverflow.com/questions/63632655/qt-on-mac-11-big-sur-beta-5#) you need atleast qt5.15 to make it work. Also, how are you calling the pip version? did you uninstall the app? because if, for some reaso

[2020-11-13 17:36] Stefano97 commented on #63
I doublechecked both the qt5 installation and it was successful. I also added the path in my .zshrc config file as suggested by brew. The app is installed via pip as I found on the GitHub page and the pkg app has been deleted beforehand.

Nothing changes and honestly do not know why

S.

Il giorno 13 nov 2020, alle ore 18:18, Stefano Magni <stefano.magni@outlook.com> ha scritto:

﻿ qt does not hav

[2020-11-13 17:44] Jacotsu commented on #63
ok, give me some time so that i can get my hands on a big surf installation and check it first hand

[2020-11-13 17:45] Stefano97 commented on #63
No worries. Thank you for your time and let me know.

Best regards,

S.

[2020-11-16 12:54] Jacotsu commented on #63
I've managed to make it show up on big sur.
Make sure you're using the pip installed version with the latest qt5 installed from brew.
Run the following command  from the terminal `QT_MAC_WANTS_LAYER=1 polibeepsync`.
The main window should pop up as shown in the screenshot
![image](https://user-images.githubusercontent.com/20172693/99254825-43af8c80-2813-11eb-9f4f-5c902c3320b7.png)

[2020-11-16 16:45] Stefano97 commented on #63
yes it works ! Thank you very much

[2020-11-17 14:17] #63 closed, assigned to nobody

[2020-11-17 18:25] alessionossa opened #64 "Not working in macOS 11 - Big Sur"
The app is unresponsive app cannot launch properly on macOS 11 (Big Sur), while it was working properly before the update.

[2020-11-18 14:11] #64 closed, assigned to nobody

[2020-11-18 14:13] alessionossa commented on #64
Duplicate of #63
Solved in 9b4c236e3cffcf0a6182b53fec0ce3e40390e8d1

[2020-11-19 13:35] alessionossa opened #65 "New release"
The latest release was months ago and many issues has been resolved since then. Can we have a fresh release of the package?

[2020-11-19 20:36] Jacotsu commented on #65
sure, but first i'm trying to port the course database from the pickle serialization to sqlite so that the update it's seamless. At the moment it's necessary to delete the local database file to successfully update, which may be not ideal for non tech users

[2020-11-25 19:40] sanchez-rick-c137 opened #66 "Issue when trying to sync"
Hello, I get these errors when I sync

polibeepsync-gui
Qt WebEngine seems to be initialized from a plugin. Please set Qt::AA_ShareOpenGLContexts using QCoreApplication::setAttribute before constructing QGuiApplication.
[INFO] polibeepsync.qtgui Data has been loaded successfully.
[INFO] polibeepsync.common Logging in.
[WARNING] polibeepsync.common Your password is about to expire, change it ASAP
[

[2020-11-26 15:43] Jacotsu commented on #66
looks like a duplicate of #53 , update your password and try again. I'll fix this when my password is about to expire and i can reproduce the problem

[2020-11-26 17:17] sanchez-rick-c137 commented on #66
Thank a lot.

[2020-11-26 17:17] #66 closed, assigned to nobody

[2020-11-29 21:04] pippoberto opened #67 "Issue installing polibeepsync on MacOs BigSur"
If I install the app using the .zip file it doesn't open. I installed it with the pip3 command and now the application polibeepsync is in the directory /Users/filippo/Library/Python/3.9/bin but when I execute it doesn't open. If I try to execute " polibeepsync --log-level debug " the command line says " command not found ". What can I do?
Thanks for your support.

[2020-12-02 12:20] fulcus opened #68 "Exception when downloading files"
While downloading content from beep I often get this traceback
[code]

[2020-12-02 12:23] fulcus opened #69 "Release for ubuntu 20.04"
Could you add support for ubuntu 20.04? Right now there isn't a release for it, and it's the latest LTS version.
Thanks!

[2020-12-02 16:53] Jacotsu commented on #67
Unistall both the app package and the pip version, then type the following in the terminal:
- `/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"`
- `brew uninstall qt5`
- `brew install qt`
- `brew install pyside`
- `git clone https://github.com/Jacotsu/polibeepsync.git`
- `pip3.9 install -e polibeepsync`
and then launch with `polibeepsync`

[2020-12-02 16:55] Jacotsu commented on #68
Please post the course name and the file name

[2020-12-02 16:56] Jacotsu commented on #69
Working on implementing sqlite3 as database backend, once it's done i'll release the new version.

[2020-12-03 17:39] fulcus commented on #69
Great, thanks

[2020-12-03 17:39] #69 closed, assigned to nobody

[2020-12-03 18:28] fulcus commented on #68
I can't see the file name, the courses for which this happens right now are:
[2020-21] - FOUNDATIONS OF OPERATIONS RESEARCH [ FEDERICO MALUCELLI ]
[2020-21] - FORMAL LANGUAGES AND COMPILERS [ LUCA ODDONE BREVEGLIERI ]
[2020-21] - SOFTWARE ENGINEERING 2 [ ELISABETTA DI NITTO, MATTEO ROSSI ]

Another weird thing that I just noticed is that it re downloads (all the "writing into...") files that were

[2020-12-05 19:04] pippoberto commented on #67
Thank you, now it works!!

[2020-12-05 19:04] #67 closed, assigned to nobody

[2020-12-12 09:45] ChristianRomeo commented on #60
I had the same problem as @rodrprincipe but changing in utils.py line 28 and 29
from
[code]
to
[code]
made it works fine. Hope this helps.

[2020-12-12 16:14] Jacotsu commented on #60
nice work, but then courses with the other format wouldn't be downloaded. Anyway the fix is already in master branch, i'm just implementing a proper course database before releasing the new version

[2020-12-16 21:16] #53 closed, assigned to Jacotsu

[2020-12-16 21:16] #60 closed, assigned to Jacotsu

[2020-12-16 21:18] Jacotsu commented on #59
master branch code works now

[2020-12-16 21:18] #59 closed, assigned to Jacotsu

[2020-12-16 21:19] Jacotsu commented on #57
Feature added in the master branch and will be shipped with the next release

[2020-12-16 21:19] #57 closed, assigned to Jacotsu

[2020-12-16 21:21] Jacotsu commented on #54
Added a button to add arbitrary courses as a workaround, it's not ideal but implementing a whitelist would be worse

[2020-12-16 21:21] #54 closed, assigned to Jacotsu

[2020-12-16 21:21] #39 closed, assigned to nobody

[2020-12-16 21:23] Jacotsu commented on #68
The master branch code now downloads those courses without any problems

[2020-12-16 21:23] #68 closed, assigned to Jacotsu

[2020-12-17 13:32] #34 closed, assigned to nobody

[2020-12-17 13:32] #27 closed, assigned to nobody

[2020-12-17 22:01] chiragdkothari opened #70 "Sync not working"
the app is not syncing anymore... it deleted some folder and tried to sync but no updates .. here is the log

[13592] PyInstaller Bootloader 3.x
[13592] LOADER: executable is E:\destreamer-master\PoliBeePsync.exe
[13592] LOADER: homepath is E:\destreamer-master
[13592] LOADER: _MEIPASS2 is NULL
[13592] LOADER: archivename is E:\destreamer-master\PoliBeePsync.exe
[13592] LOADER: Extracting binaries

[2020-12-17 22:27] chiragdkothari commented on #70
its working .. but on the version present in this link https://drive.google.com/open?id=1-gaTL47asYuDDrCp4bKc9inOwz58EqP2   ... not on the release present on git.

[2020-12-17 22:31] chiragdkothari commented on #70
but this one is not downloading all the files ...

[2020-12-18 22:33] chiragdkothari commented on #70
File "polibeepsync\common.py", line 1058, in download_file
  File "site-packages\requests\structures.py", line 54, in __getitem__
  File "site-packages\requests\structures.py", line 54, in __getitem__
KeyError: 'content-disposition'
KeyError: 'content-disposition'

[2020-12-18 22:55] Jacotsu commented on #70
The latest code in the master branch (not release), works for your courses. Right now I'm fixing some mismatches between folders and courses. If you can, install from the master branch

[2020-12-20 10:51] chiragdkothari commented on #70
How to install the master branch in windows?
thanks

On Fri, Dec 18, 2020 at 11:55 PM Jacotsu <notifications@github.com> wrote:

[2020-12-20 12:08] chiragdkothari commented on #70
i tried installing it on windows and it said polibeepsync 0.8.0 is installed but when i give the polibeepsync-gui command nothing happens ... no dialogue box... no error ... nothing

[2020-12-20 22:14] Jacotsu commented on #70
try with `polibeepsync`

[2020-12-21 18:32] chiragdkothari commented on #70
c:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts>polibeepsync

Traceback (most recent call last):
  File "c:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts\polibeepsync-script.py", line 33, in <module>
    sys.exit(load_entry_point('po

[2020-12-21 19:00] Jacotsu commented on #70
`python3 -m pip install packaging`

[2020-12-21 22:47] chiragdkothari commented on #70
sorry for bothering again .... but i am getting this now..

c:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts>polibeepsync
Traceback (most recent call last):
  File "c:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts\polibeepsync-script.

[2020-12-22 22:46] Jacotsu commented on #70
try with `python3 -m pip install python-dateutil`

[2020-12-23 07:36] chiragdkothari commented on #70
ModuleNotFoundError: No module named 'polibeepsync.ui'

[2020-12-23 14:54] Jacotsu commented on #70
download the latest branch from here (https://github.com/Jacotsu/polibeepsync/archive/master.zip), unzip it in a directory, open a cmd in it, then cd into the polibeepsync/polibeepsync directory and then type `python3 qtguy.py`

[2020-12-26 15:57] chiragdkothari commented on #70
D:\Download\Compressed\New folder\polibeepsync-master\polibeepsync>python3
qtgui.py
Traceback (most recent call last):
  File "D:\Download\Compressed\New
folder\polibeepsync-master\polibeepsync\qtgui.py", line 40, in <module>
    from polibeepsync.ui.ui_main_form import Ui_MainForm
  File
"C:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-pac

[2020-12-26 19:52] Jacotsu commented on #70
try running it from the folder `D:\Download\Compressed\New folder\polibeepsync-master`

[2020-12-27 11:47] michelebruno opened #71 "File name encoding issue"
Hi, I found this issue. Hope to be helpful.

When the file name has special chars like `à`, `UTF-8"` is prepended to the file name.

In this screenshot it's quite clear.

![immagine](https://user-images.githubusercontent.com/43304601/103170045-86687980-4841-11eb-8df7-eeffea241aad.png)

[2021-01-03 10:44] chiragdkothari commented on #70
[ERROR] polibeepsync.common Failed to simplify course name [2020-21] - METHODS AND TOOLS FOR SYSTEMATIC INNOVATION (Integrated Course)
Traceback (most recent call last):
  File "C:\Users\Chirag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pyparsing.py", line 1683, in _parseNoCache
    loc, tokens = self.parseImpl(instring

[2021-01-05 22:21] Jacotsu commented on #70
the first exception looks like a bug in the name simplification function.
For the second one make sure that you have only 1 instance of polibeepsync open

[2021-01-22 18:25] alessionossa opened #72 "Instructions to build from source"
It would be nice to have more informations on documentation about building the program from source to get the very latest improvements.

[2021-01-24 22:04] Jacotsu commented on #72
check out the makefile (https://github.com/Jacotsu/polibeepsync/blob/master/Makefile#L45).
This will build an exe or app file (depending on your platform), if you only want to use the latest release, just clone the repository and then execute `pip3 install --user -e .` while in the repo directory

[2021-01-27 11:55] francesco-plt opened #73 "Both Chromium automatic download scan and Virustotal flag the .exe as malicious"
![image](https://user-images.githubusercontent.com/26849744/105987630-d6379c00-609e-11eb-94e6-fe01e945fee8.png)

[2021-01-27 13:35] Jacotsu commented on #73
https://github.com/Jacotsu/polibeepsync#virus-total-scans

[2021-01-27 14:51] #73 closed, assigned to nobody

[2021-02-25 07:49] LucaCatta97 opened #74 "Integration with SPID"
From 31th of March SPID will be the only autentication method possible for italian student and for that I think that polibeepsync will not work more. We wil have a window to connect with SPID (and then, CIE and eIDAS)?

[2021-02-25 10:17] fulcus opened #75 "Course not detected"
[Computer security](https://beep.metid.polimi.it/web/3020302) course does not appear at all in the list of courses

[2021-02-26 16:08] Jacotsu commented on #75
Get le latest version from git
click on add course
paste the beep's course link and click ok
sync

[2021-02-26 16:10] Jacotsu commented on #74
i'll look into this, but i can't guarantee anything.

[2021-02-26 16:35] fulcus commented on #75
I got the latest version following [your instructions](https://github.com/Jacotsu/polibeepsync/issues/72) and now when i run it it gives me this error
[code]

[2021-02-27 11:26] Raif9 opened #76 "File not updated when reloaded instead of updated"
If the file instead of being updated is simply removed and then upload again the software don't update the local version.
Adding a check on file upload date could be a possible solution

[2021-02-27 11:36] Raif9 opened #77 "File not synced when it's a link to another channel"
When the file instead of being uploaded on the beep channel is added by a link to another channel (see img1) the software after several time of interruption simply fail to download it (img2)
If not adjustable a solution could be to just skip this type of file faster, as now just one file takes more time than the whole process of synchronization

![img1](https://user-images.githubusercontent.com/62

[2021-02-27 22:25] Jacotsu commented on #75
If you login with the browser do you get a form asking for confirmation?

[2021-02-27 22:26] Jacotsu commented on #77
please post the course name so that i can debug it

[2021-02-27 22:29] Jacotsu commented on #76
You mean that the professor removes the file from the channel and then reuploads it?
If yes, then this is intended behaviour. Each BeeP file has a unique id, if someone removes it and then reuploads it, the new file gets a new id; to avoid this the professor should upload a new revision of the file instead of deleting and reuploading.

[2021-02-27 22:35] Raif9 commented on #77
My course is [2020-21] - TECNOLOGIE E MATERIALI AEROSPAZIALI [ LUCA ANGELO DI LANDRO ]

the course were the file was actually uploaded is [2020-21] - TECNOLOGIE E MATERIALI AEROSPAZIALI [ GIUSEPPE SALA ]

[2021-02-27 22:38] Raif9 commented on #76
It's possible at least to allow anyway the download of the new one?

[2021-02-28 11:48] fulcus commented on #75
Not sure what you mean, when I'm not already logged in I log into beep through aunicalogin without further steps.

[2021-02-28 17:23] Jacotsu commented on #76
the new file should be automatically downloaded. Can you tell me which file and course are affected?

[2021-02-28 17:26] Jacotsu commented on #75
run the the program as `polibeepsync --log-level debug` and post the resulting log

[2021-02-28 19:33] fulcus commented on #75
[code]

[2021-02-28 21:39] Raif9 commented on #76
The course is "Propulsione Aerospaziale - Luciano Galfetti" and the file is "LINK PER ACCEDERE ALLE REGISTRAZIONI DELLE LEZIONI.DOCX"

It's a first semester course so now you can't test directly the issue.

[2021-02-28 21:45] Jacotsu commented on #75
ok, working on it

[2021-03-03 14:00] Delto50 opened #78 "Course not detected Windows"
Ciao!
il materiale del corso THE ART OF ASKING QUESTIONS TOOLS AND TECHNIQUES pur apparendo nella sezione Courses dell'app non viene scaricato.
ho immaginato che l'errore potrebbe essere causato dalla eccessiva lunghezza del path ma ho notato che con corsi con un path paragonabile il problema non si presenta

[2021-03-04 15:45] Jacotsu commented on #78
controlla che la checkbox di sync del corso sia attiva come nello screenshot
![image](https://user-images.githubusercontent.com/20172693/109989667-0101b980-7d09-11eb-8f0f-afebab220eb5.png)

[2021-03-05 08:54] Delto50 commented on #78
si la checkbox è attiva
ho provato anche a disattivarla ed ad attivarla ma il risultato non cambia.
ho anche cancellato la cartella dei "download" e risincronizzato tutto ma nada.
provo da un altro pc e ti faccio sapere

PS cmq complimenti perché è uno strumento strepitoso

[2021-03-05 10:25] erricodavide opened #79 "Linux: Read timed out"
Hi.

polibeepsync on Windows works flawlessly for me.

On Linux the situation is different. It sometimes works and sometimes doesn't, but I can't see the reason.
This is what I get when it doesn't work:

`2021-03-04  10:30:32	 [INFO] polibeepsync.common Logging in.
2021-03-04  10:30:34	 [INFO] polibeepsync.common Successful login.
2021-03-04  10:30:34	 [INFO] polibeepsync.common Looking for new co

[2021-03-05 16:24] Jacotsu commented on #79
For some reason you're getting timed out on linux, try starting polibeepsync with the following command `polibeepsync --default-timeout 60`

[2021-03-05 16:27] Jacotsu commented on #78
prova a cancellare questo file `C:\Users\%USERNAME%\AppData\Local\poliBeePsync\poliBeePsync\pbs.data` e a rifare il sync

[2021-03-05 21:13] Delto50 commented on #78
Ciao! ho fatto come mi hai detto non è cambiato nulla
ho provato con l'altro pc ma ho lo stesso problema

[2021-03-06 18:35] Jacotsu commented on #78
ok, fammi verificare un paio di cose

[2021-03-13 09:32] A-Common-Guy opened #80 "Operations stuck on application update searching"
It's been several weeks the application could not sync because of failing update research. I tried to switch from the .exe application to the build from source approach but nothing changed. I alse tried to downgrade to Python3.7.0 (because most of the problems came up in the same period as python updated on my machine) but it was not a solution

[2021-03-14 00:35] Jacotsu commented on #80
post the status log

[2021-03-14 00:39] A-Common-Guy commented on #80
The fact was even the status log remained empty After every operation. But so far, i managed right now to solve the problem by deleting all the settings in Local folder. Maybe something broke while switching some versione

[2021-03-14 00:39] #80 closed, assigned to nobody

[2021-03-17 09:22] erricodavide commented on #79
I've been testing your solution for quite a few days and it's perfectly working now. Thank you!

[2021-03-17 09:22] #79 closed, assigned to nobody

[2021-03-22 15:35] alessionossa commented on #75
Any update on this?

[2021-03-22 22:23] Jacotsu commented on #75
Apparently the unicalogin doesn't always return a full url when submitting the form, i've hardcoded the host and i'm testing if it's reliable

[2021-03-23 11:40] #71 closed, assigned to Jacotsu

[2021-03-24 07:50] Jacotsu commented on #75
@alessionossa @fulcus can you try the latest master?

[2021-03-24 09:56] chiragdkothari commented on #70
D:\Download\Compressed\polibeepsync-master>python qtgui.py
No state change slot has been specified <PySide2.QtWidgets.QCheckBox(0x24e99d60320, name="addSyncNewCourses") at 0x0000024E99E25680>
No state change slot has been specified <PySide2.QtWidgets.QCheckBox(0x24e99d5c8d0, name="startupSync") at 0x0000024E99E25740>
[INFO] polibeepsync.qtgui Connection timeout set to 200 seconds
Traceback (most r

[2021-03-24 10:02] fulcus commented on #75
I get this error
[code]

[2021-03-24 10:13] chiragdkothari commented on #70
on ubuntu
cdk@DESKTOP-BS04085:~$ sudo add-apt-repository ppa:jacotsu/polibeepsync
 This program, aimed at students of Politecnico di Milano, synces a local folder with files uploaded by professors on the BeeP platform.
 More info: https://launchpad.net/~jacotsu/+archive/ubuntu/polibeepsync
Press [ENTER] to continue or Ctrl-c to cancel adding it.

Ign:1 http://ppa.launchpad.net/jacotsu/polibeepsync

[2021-03-24 12:17] Jacotsu commented on #70
are you sure that you downloaded the latest zip from here (https://github.com/Jacotsu/polibeepsync/archive/refs/heads/master.zip)?
This bug should be fixed.

This is normal, i haven't updated the ubuntu repo to the latest ubuntu version

[2021-03-24 12:19] Jacotsu commented on #75
Try again with the latest commit

[2021-03-24 13:34] alessionossa commented on #75
It works, except for this error when password changes:
[code]

[2021-03-24 16:07] Jacotsu commented on #75
You mean when unicalogin asks you to change your password?

[2021-03-24 16:26] fulcus commented on #75
It immediately throws an error when I open it
[code]

[2021-03-24 16:33] alessionossa commented on #75
Nope, when I change password in Polibeepsync

[2021-03-24 18:09] Jacotsu commented on #75
Make sure that your password is correct, try the latest commit for convenience since it doesn't crash the thread when a wrong password is inserted

Are you using the latest commit/zip version?

[2021-03-24 19:34] chiragdkothari commented on #70
yup .. i have tried with the latest zip ....

[2021-03-24 19:44] Jacotsu commented on #70
github may have served you an outdated cached version, since the line 209 in qtguy doesn't contain that code anymore.
try cleaning your browser cache and redownload the zip

[2021-03-25 09:38] fulcus commented on #75
Now I am and I get basically the same thing
[code]
Before getting the new version I uninstalled the previous one with `pip3 uninstall polibeepsync`,  so that should work

[2021-03-25 17:07] chiragdkothari commented on #70
yup works perfectly now .. Thankyou

[2021-03-25 17:07] #70 closed, assigned to nobody

[2021-03-31 14:08] nickbru75 opened #81 "Connection timeout error"
Provando a sincronizzare i file o a loggare tramite l'app dà come errore "connection timeout error" se i servizi online generano il messaggio automatico di cambio password (a partire da 14 giorni dalla scadenza della password). L'unico modo per risolvere è stato di cambiare effettivamente password anche se avevo ancora una decina di giorni a disposizione

[2021-03-31 20:55] Jacotsu commented on #81
Nella versione git è possibile impostare un timeout arbitrario e questo problema sembra essere bypassabile

[2022-06-18 23:01] #62 closed, assigned to nobody